.homeComponent {
    border: 1px solid white;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    /* juremstify-content: space-between; */
    width: var(--width);
    margin: auto;
    /* border: var(--borderw); */
    margin-top: 0.2rem;
    z-index: 100;
    padding: 5px 10px;
}